/aula3/build/
/aula_20_abril/nbproject/private/
/aula_20_abril/build/
/Server/nbproject/private/
/Server/build/
/WebServices/nbproject/private/
/WebServices/build/
/Rest1/nbproject/private/
/Rest1/build/
/Rest1/dist/
/Cliente/nbproject/private/
/Cliente/build/
/SistemaCentral/nbproject/private/
/SistemaCentral/build/
/SistemaCentral/dist/